# Dependências
node_modules/

# Saídas de execução / testes
cypress/downloads/
cypress/screenshots/

# Arquivos sensíveis ou específicos do dev
cypress/config/configSpec.*
cypress/config/notes.md
backlog.md

# Ignora todos os testes, exceto arquivos de exemplo
cypress/e2e/
!cypress/e2e/ExampleSpec.*

# Dados de mock
cypress/fixtures/

cypress/config/config-guide.md
